*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

header{
    background-color: rgb(67, 67, 67);
    height: 10vh;
    color: white;
    display: flex;
    align-items: center;
    gap: 70%;
}

.header_login{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
}

.tela-login{
    display: flex;
    justify-content: space-between;
}

.container-login{
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aqua;
    width: 50%;
    height: 400px;
}

form{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.container-img{
    background-color: red;
    width: 50%;
    height: 100vh;
}



